.header{
    margin: 0 200px 0 200px;
    padding-top: 45px;
    width: 880px;
}

.header__title{
    height: 33px;
    width: 173px;
}

.header__line{
    margin-top: 41px;
}

@media screen and (max-width:768px){

    .header{
        max-width: 768px;
    }

}

@media screen and (max-width:320px){

    .header{
        max-width: 320px;
    }

}