.page{
    /*display: flex;
    flex-wrap: wrap;
    flex-direction: column;*/
    background-color: #000000;
    color: #FFFFFF;
    margin: 0;
    width: 1280px;
|   font-family: 'Inter Regular', Inter,  sans-serif;
    font-size: 18px;
    line-height: normal;
}

/*.body{
    display: flex;
    justify-content: center;
    background-color: #000000;
}*/

.content{
    margin: 42px 200px 67px 200px;
    width: 880px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    
}

<<<<<<< HEAD
@media screen and (max-width:320px){
    .page{
        width: 320px;
    }
    .content{
        margin: 42px 19px 50px 19px;
        width: 282px;
        
    }

}
=======
@media screen and (max-width:768px){

    .header{
        width: 768px;
    }

}

@media screen and (max-width:320px){

    .header{
        width: 320px;
    }
    .contento{
        margin: 60px 19px 0 19px;

}
>>>>>>> 260d80074810a97eeaa1f4312d576a693129c924
