.popup {
    display: none;
    position: fixed;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

.popup__opened_form {
    display: grid; 
}

.popup__opened_img {
    display: flex;
}

.popup__image {
    max-width: 70%;
    max-height: 70%;
    object-fit: scale-down;
    align-self: center;
}

.popup__close-button-form {
       
    padding: 0;
    right: 10px;
    background-color: rgba(0, 0, 0, 0);
    height: 40px;
    width: 40px;
    background-image: url(../images/close-icon.png);
    background-position: center;
    background-repeat: no-repeat;
    border: none;
}

.popup__close-button-form:hover {
    opacity: 60%;
    cursor: pointer;
}

.popup__close-button-img {
    position: absolute;
    align-self: flex-start;
    flex-direction: row-reverse;
    padding: 0;
    width: 40px;
    height: 40px;
    background-size: cover;
    background-image: url('../images/close-icon.png');
    border: none;
    background-color: transparent;
    cursor: pointer;
    top: 10px;
    right: 10px;
    z-index: 1001;
}

.popup__close-button-img:hover,
.popup__close-button-img:focus {
    opacity: 60%;
    cursor: pointer;
}

.popup__content {
    
    display: flex;
    height: 371px;
    width: 471px;
    border-radius: 10px;
    color: #000000;
}

.popup__container {
    position: relative;
    display: flex;
    max-width: 880px;
    max-height: 80vh;
    margin: auto;
    flex-direction: column;
    
}

.popup__title {    
    color: #FFFFFF;
    font-size: 24px;
    font-family: 'Inter Black', Inter, sans-serif;
    justify-self: unset;
    margin: 10px 0;
    padding: 10px;
    /*background-color: rgba(0, 0, 0, 0.7);*/
    width: 100%;
    border-radius: 0 0 10px 10px;
}

.form {
    display: flex;
    position: relative;
    padding-bottom: 25px;
    margin-top: 40px;
    height: 258px;
    width: 358px;
    border-radius: 10px;
    background-color: #FFFFFF;
    color: #000000;
    padding: 36px 36px;
    flex-direction: column;
}

.form__title {
    margin: 0;
    width: 358px;
    margin-bottom: 24px;
}

.form__input {
    margin-top: 30px;
    padding: 0;
    height: 27px;
    width: 358px;
    border: none;
    border-bottom: 2px solid #C4C4C4;
}

.form__wrapper {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 40px;
    
}

.form__input_name-error {
    border-bottom: none;
}

.form__input_extra-error {
    border-bottom: none;
}

.form__submit-button {
    display: block;
    margin-top: 48px;
    padding: 0px;
    height: 50px;
    min-height: 50px;
    width: 358px;
    background-color: #FFFFFF;
    border: 2px solid #C4C4C4;
    color: #C4C4C4;
}

@media screen and (max-width: 768px) {
    .popup {
        justify-content: center;
        width: 768px;
        align-content: center;
    }

    .popup__content {
        position: relative;
    }

    .popup__close-button-form {
        position: absolute;
        width: 26px;
        height: 26px;
   }

   .popup__container {
    width: 768px;
    }

    
    .popup__close-button-img {
    position: absolute;
    }

}

@media screen and (max-width: 320px) {
    .popup {
        width: 320px;
    }

    .popup__content {
        position: relative;
        width: 282px;
        left: auto;
    }

    .popup__close-button-form {
        right: 3px;
        position: absolute;
        width: 26px;
        height: 26px;
    }

    .popup__container {
        width: 320px;
    }
    .popup__close-button-img {
        width: 15px;
        height: 15px;
    }

    .form {
        padding: 25px 22px 25px 22px;
        width: 282px;
    }

    .form__title {
        width: 238px;
    }

    .form__input {
        width: 238px;
    }

    .form__submit-button {
        width: 238px;
    }
}