.popup {
    display: none;
    position: fixed;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

.popup_opened {
    display: flex; 
}

.popup__close {
       
    padding: 0;
    right: 10px;
    background-color: rgba(0, 0, 0, 0);
    height: 40px;
    width: 40px;
    background-image: url(../images/close-icon.png);
    background-position: center;
    background-repeat: no-repeat;
    border: none;
}

.popup__close:hover {
    opacity: 60%;
    cursor: pointer;
}

.popup__content {
    
    display: flex;
    height: 371px;
    width: 471px;
    border-radius: 10px;
    color: #000000;
}

.form {
    display: flex;
    position: relative;
    padding-bottom: 25px;
    margin-top: 40px;
    height: 258px;
    width: 358px;
    border-radius: 10px;
    background-color: #FFFFFF;
    color: #000000;
    padding: 36px 36px;
    flex-direction: column;
}

.form__title {
    margin: 0;
    width: 358px;
    margin-bottom: 24px;
}

.form__input {
    margin-top: 30px;
    padding: 0;
    height: 27px;
    width: 358px;
    border: none;
    border-bottom: 2px solid #C4C4C4;
}

.form__input-wrapper {
    display: flex;
    flex-direction: column;
    min-height: 40px;
}

.form__submit {
    margin-top: 48px;
    padding: 0px;
    height: 50px;
    min-height: 50px;
    width: 358px;
    background-color: #FFFFFF;
    border: 2px solid #C4C4C4;
    color: #C4C4C4;
}

@media screen and (max-width: 768px) {
    .popup {
        justify-content: center;
        width: 768px;
        align-content: center;
    }

    .popup__content {
        position: relative;
    }

    .popup__close {
        position: absolute;
        width: 26px;
        height: 26px;
   }

}

@media screen and (max-width: 320px) {
    .popup {
        width: 320px;
    }

    .popup__content {
        position: relative;
        width: 282px;
        left: auto;
    }

    .popup__close {
        right: 3px;
        position: absolute;
        width: 26px;
        height: 26px;
    }

    .form {
        padding: 25px 22px 25px 22px;
        width: 282px;
    }

    .form__title {
        width: 238px;
    }

    .form__input {
        width: 238px;
    }

    .form__submit {
        width: 238px;
    }
}